.drinks-checkout-button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.item-drink {
    padding: 0.75rem 1rem !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 1rem !important;
    width: 100% !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid white !important;
}

.drink-amount {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.drink-amount-number {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.25rem 0.75rem;
    margin: 0 0.5rem;
}

.modal-img {
    display: block;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.modal-description-drink {
    color: white;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0.75rem;
}

.modal-price-box {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.modal-price {
    font-size: 1.5rem;
    color: #FFC107;
    font-weight: 700;
    margin-bottom: 0;
}

.modal-drink-amount {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.modal-drink-amount-number {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.25rem 0.75rem;
    margin: 0 0.5rem;
}